#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --default-border: 1px solid rgba(54, 53, 53, 0.353);
  --default-background: rgba(134, 131, 131, 0.166);
  --component-background: #fff;
}

.border {
  border: var(--default-border);
}


.flex-col {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(230, 152, 6, 0.955);
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 23px;
}

.ajwbt {
  color: rgba(2, 2, 109, 0.682);
  font-size: 25px;
  font-weight: bolder;
}

.com {
  color: rgba(249, 246, 246, 0.46);
  font-size: 25px;
  font-weight: bolder;
}

.search {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
  width: 35%;
  height: 35%;
}

.search input {
  border: none;
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
  width: 100%;
  outline: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  color: whitesmoke;
  width: 16%;
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.profile-img{
  width: 43px;
  height: 43px; 
  border-radius: 100%;
  margin-top: 10px;

}
img {
  width: 55px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.white-icons {
  color: whitesmoke;
}

/* Main Section/Body */

main {
  display: flex;
  background-color: var(--default-background);
  justify-content: space-evenly;
  
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.middle-part {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}



/* Body Navigation */
.up-middle-nav {
  display: flex;
  justify-content: space-around;
  border-bottom: var(--default-border);
  width: 90%;
  margin:20px auto;
}
.up-middle-nav span {
  font-size: 20px;
  padding: 5px;
}
.lower-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  }

.side {
  width: 90%;
  margin:20px auto;
}

.bg-white {
  background-color: var(--component-background);
}

/* Aside No Image */
.aside-no-image {
border: var(--default-border);
}
.aside-trend-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 40px;
}

.trends {
  border-top: var(--default-border);
  margin: 0;
  padding: 20px;
  text-align: left;
}
.show-more {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  margin: 0;
  padding: 5px;
  color: orange;
  text-align: left;
}

/* Right */
.img-1-side {
  border: var(--default-border);
  margin-top: 20px;

}
.active-qns{
  display: flex;
  align-items: center;
  border-top: var(--default-border);
  margin: 0;
  padding: 5px;
}
.trend-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-bottom: 0;
  height: 40px;
}


/* Create Post */
.create-post{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--default-border); 
  padding:15px;
}
.center{
  align-self: center;
  margin: 0 auto;
  font-weight: bold;
}

.post-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 15px;
}
textarea{
  width: 100%;
  border: none;
  outline: none;
  margin: 10px;
  box-sizing: border-box;
  margin-bottom: 0;
  
}

.user{
  display: flex;
  align-items: center;
}
.media-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 30px;
  padding: 5px 0;
  border-top: var(--default-border);
}

/* Individual Posts */
.actual-post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--default-background);
}
.one-post{
  border: var(--default-border);
  background-color: var(--component-background);
  margin-top: 40px;
}
.post-metadata{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 40px;
}
.metadata-left{
  display: flex;
  align-items: center;
}
.uname-time{
  text-align: left;
  font-size: small;
  line-height: 5px;
}
.user-name{
  font-weight: bold;
}
.metadata-right{
  display: flex;
  align-items: center;
}
.mgn-05{
  margin: 0 5px;
}
.mgn-010{
  margin: 0 10px;
}
.post-images{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  overflow: hidden;
}
#image-post{
  width: 49%;
  height: 50%;
  border-radius: 0;
  margin: 0 auto;
  }
  .post-content{
    text-align: left;
    margin: 0 10px;
  }

  .post-actions{
    display: flex;
    justify-content: space-between;
    border-top: var(--default-border);
    border-bottom: var(--default-border);
    padding: 2px;
    margin: 5px 10px;
  }
  .post-replies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
  }

  .reply-methods{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    flex: 2 ;
  }

  .reply-methods input{
    padding:1em 2em;
    border: none;
    border-right: var(--default-border);
    outline: none;
    flex: 2;
    /* line-height: 200%; */
  }

.card{
  margin: 1rem;
}

.c-box{
  display: flex;
  border: var(--default-border);
}
.c-data{
  display: flex;
  margin: 10px;
  justify-content: center;
}
.c-details{
  text-align: start;
}