#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --default-border: 1px solid rgba(54, 53, 53, 0.353);
  --default-background: rgba(134, 131, 131, 0.166);
  --component-background: #fff;
}

.border {
  border: var(--default-border);
}


.flex-col {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(210, 158, 61, 0.741);
}

.logo {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  /* padding: 5px; */
  margin-left: 23px;
}

.logo img {
  width: 25px;
  height: 25px;
  /* margin-right: 10px; */
  border-radius: 100%;
}

.ajwbt {
  color: rgba(20, 20, 152, 0.649);
  font-size: 23px;
  font-weight: bold;
}

.com {
  color: rgba(249, 246, 246, 0.46);
  font-size: 23px;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
  width: 32%;
  height: 18px;
}

.search input {
  border: none;
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
  width: 100%;
  outline: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 50px;
  color: whitesmoke;
  width: 16%;
  /* background-color: aliceblue; */
}

.profile {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  padding: 5px;
  margin-right: 20px;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 10px;
}
.white-icons {
  color: whitesmoke;
  /* /  margin-right: 10px; */
}

/* Main Section/Body */

main {
  display: flex;
  background-color: var(--default-background)
}

.left-side {
  flex: 1;
}
.middle-part {
  flex: 2.5;
}
.right-side {
  flex: 1;
}



/* Body Navigation */
.up-middle-nav {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: var(--default-border);
  width: 90%;
  margin: auto;
}
.lower-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 20px;
  }

.side {
  width: 90%;
  margin: auto;
}

.bg-white {
  background-color: var(--component-background);
}
.aside-trend-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 15px;
  height: 40px;
}
.trend-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  margin-top: 15px;
  margin-bottom: 0;
  height: 40px;
}
.trends {
  border-top: var(--default-border);
  margin: 0;
  padding: 10px;
  text-align: left;
}
.show-more {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  margin: 0;
  padding: 5px;
  color: orange;
  text-align: left;
}

/* Right */
.active-qns{
  display: flex;
  align-items: center;
  border-top: var(--default-border);
  margin: 0;
  padding: 4px;
}
.img-1-side{
  display: flex;
  flex-direction: column;
}

/* Create Post */
.create-post{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--default-border); 
  padding:5px 13px;
}
.center{
  align-self: center;
  margin: 0 auto;
  font-weight: bold;
  /* color: gray; */
}

.post-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 13px;
}
textarea{
  width: 100%;
  border: none;
  outline: none;
  margin: 10px;
  box-sizing: border-box;
  
}

.user{
  display: flex;
  align-items: center;
}

.media-post{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-top: var(--default-border);
}

/* Individual Posts */
.actual-post{
  border: var(--default-border);
}
.post-metadata{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 40px;
}
.metadata-left{
  display: flex;
  align-items: center;
}
.uname-time{
  text-align: left;
  font-size: small;
  line-height: 5px;
}
.user-name{
  font-weight: bold;
}
.metadata-right{
  display: flex;
  align-items: center;
}
.mgn-05{
  margin: 0 5px;
}
.mgn-010{
  margin: 0 10px;
}
.post-images{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  overflow: hidden;
}
#image-post{
  width: 49%;
  height: 50%;
  border-radius: 0;
  margin: 0 auto;
  }
  .post-content{
    text-align: left;
    margin: 0 10px;
  }

  .post-actions{
    display: flex;
    justify-content: space-between;
    border-top: var(--default-border);
    border-bottom: var(--default-border);
    padding: 2px;
    margin: 5px 10px;
  }
  .post-replies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
  }

  .reply-methods{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    flex: 2;
  }

  .reply-methods input{
    padding:1em 2em;
    border: none;
    border-right: var(--default-border);
    outline: none;
    flex: 2;
    /* line-height: 200%; */
  }

.tdata{
  border: var(--default-border);
  justify-content: flex-start;
  /* border-top: var(--default-border); */
  margin: auto;
  padding: 10px;
  text-align: left;
  align-items: center;
}