#root {
  text-align: center;
  --default-border: 1px solid rgba(54, 53, 53, 0.353);
  --default-background: rgba(134, 131, 131, 0.166);
  --component-background: #fff;
  --color-yellow: #E9B824;
  --color-orange:#EE9322;
  --color-green: #219C90;
  --color-red: #D83F31;

}

.border {
  border: var(--default-border);
}

button {
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-green);
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-orange)
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 23px;
}


.search {
  display: flex;
  /* align-items: center; */
  border-radius: 50px;

}

.search input {
  border: none;
  padding: 5px;
  border-radius: 50px;
  background-color: aliceblue;
  font-size: 20px;
  outline: none;
}

#fa-search {
  padding: 5px;
  border-radius: 50px;
  color: #000;
  font-size: x-large;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-radius: 50px;
  color: whitesmoke;
  /* flex: 2.5; */
  width: 35rem;

}

.header-nav i,
header a.active i{
  color: white !important;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.15rem !important;
}

.header-nav i:hover,
header a.active i{
  cursor: pointer;
  background-color:#9dede528;
  color: var(--color-green) !important;

}


.logo__link{
  flex:1

}

.profile {
  display: flex;
  align-items: center;
  flex:1;
  justify-content: flex-end;
  padding-right: 20px;
}
.profile-img{
  width: 43px;
  height: 43px; 
  border-radius: 100%;
  margin-top: 10px;

}
img {
  width: 55px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
}
.white-icons {
  color: whitesmoke;
}

.header-nav i {
  font-size: 30px;
}

/* Main Section/Body */

main {
  display: flex;
  background-color: var(--default-background);
  justify-content: space-evenly;
}

main, header{
  padding-inline: 7rem;
}

.left-side {
  flex: 1;
  
}

.middle-part {
  flex: 2.5;

  justify-content: space-between;
}
.right-side {
  flex: 1;
 
}



/* Body Navigation */

.lower-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  }

.side {
  width: 90%;
  margin:20px auto;
  display: flex;
  flex-direction: column;
}

.bg-white {
  background-color: var(--component-background);
}

/* Aside No Image */

.aside-trend-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  height: 40px;
}

.trends {
  border-top: var(--default-border);
  margin: 0;
  padding: 20px;
  text-align: left;
}
.show-more {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  margin: 0;
  padding: 5px;
  color: var(--color-orange);
  text-align: left;
}

/* Right */
.img-1-side {
  margin-top: 20px;

}
.active-qns{
  display: flex;
  align-items: center;
  border-top: var(--default-border);
  margin: 0;
  padding: 5px;
}
.trend-title{
  display: flex;
  align-items: center;
  padding:10px 5px;
  margin: 0;
  height: 40px;
}


/* Create Post */
.create-post{
  display: flex;
  flex-direction: column;
}
.title{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--default-border); 
  padding:15px;
}
.center{
  align-self: center;
  margin: 0 auto;
  font-weight: bold;
}

.post-field{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 15px;
}
textarea{
  width: 100%;
  border: none;
  outline: none;
  margin: 10px;
  box-sizing: border-box;
  margin-bottom: 0;
  
}

.user{
  display: flex;
  align-items: center;
}
.media-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 30px;
  padding: 5px 0;
  border-top: var(--default-border);
}

.fa-remove{
  font-size: 20px;
  margin: 0 10px;
  
}
.fa-remove:hover{
  color: red;
  cursor: pointer;
}

/* Individual Posts */
.actual-post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--default-background);
}
.one-post{
  background-color: var(--component-background);
  margin: 40px auto 0;
  padding: 2rem 1rem 0.75rem;
  border-radius: 5px;
}

.lower-middle>button,
.one-post{
  width: 35rem;
  max-width: 100%;
  margin: 0 auto;
}

.post-metadata{
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  margin-bottom: 2rem;
}

.metadata-left{
  display: flex;
  align-items: center;
}
.uname-time{
  text-align: left;
  font-size: small;
  line-height: 150%;
}

.uname-time>p:last-of-type{
  opacity: .5;
}

.user-name{
  font-weight: bold;
  font-size: 1rem;
}
.metadata-right{
  display: flex;
  align-items: center;
}
.mgn-05{
  margin: 0 5px;
}
.mgn-010{
  margin: 0 10px;
}
.post-images{
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  overflow: hidden;
}

.image-post{
  width: 49%;
  height: 50%;
  border-radius: 0;
  margin: 0 auto;
  }
  .full-width{
  width: 100%;
}
  .post-content{
    text-align: left;
    margin: 0 10px 1.75rem;

  }

  .post-actions{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.116);
    border-bottom: 1px solid rgba(128, 128, 128, 0.116);
    padding: 1rem 2px;

  }
  .post-replies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:10px 0;
  }

  .post-replies>img{
    width: 2rem;
    object-fit: contain;
  }

  .reply-methods{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
    flex: 2 ;
    border-radius: 20px;
    overflow: hidden;
  }

  .reply-methods input{
    padding:1em 2em;
    border: none;
    border-right: var(--default-border);
    outline: none;
    flex: 1.5;
    /* line-height: 200%; */
  }

  i{
    transition: all ease-in-out .3s;
  }

  i:hover{
    cursor: pointer;
    color: var(--color-orange)

  }

/*  */


.custom__modal{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: flex;
  animation: slowAppear ease-in-out .3s
}

@keyframes slowAppear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.custom__modal-content{
  background-color: white;
  width: 30rem;
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
  animation: fadeDown ease-in-out .75s
}

@keyframes fadeDown{
  from{
    opacity: 0;
    transform: translateY(-100px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}